@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

section {
  /* min-height: 90vh; */
  background-color: #24262b;
  background: radial-gradient(
    circle,
    rgba(134, 134, 134, 1) 0%,
    rgba(90, 91, 93, 1) 50%,
    rgba(36, 38, 43, 1) 100%
  );
  color: white;
}

body {
  height: 100vh;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
}

#root {
  background-color: #df5d20;
}

/* Header */
header {
  background-color: black;
  font-family: "Roboto Flex", sans-serif;
  position: sticky;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

.navbar img {
  width: 250px;
  height: 100%;
}

.navbar-ul {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-ul li:nth-child(6) p {
  margin: 5px 0 0 0;
  font-size: 12px;
}

.navbar-ul li:nth-child(6) a {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.navbar-ul a {
  font-size: 16px;
  text-decoration: none;
  color: white;
  position: relative;
  padding: 5px;
}

.navbar-ul a,
.navbar-ul a:after,
.navbar-ul a:before {
  transition: all 0.5s;
}

.navbar-ul a:hover {
  color: #df5d20;
}

.navbar-ul a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #df5d20;
  height: 1px;
}

.navbar-ul a:hover:after {
  width: 100%;
}

/* Home */

.home-section {
  display: flex;
  justify-content: center;
  color: white;
  position: relative;
  padding-top: 50px;
}

.home-section-content h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  margin-bottom: 0;
}

.home-section-content h4 {
  color: #df5d20;
  text-transform: uppercase;
  font-style: italic;
  margin-top: 25px;
  text-shadow: 2px 1px rgb(0, 0, 0);
}

.home-section-content a {
  position: absolute;
  top: 60%;
  left: 25%;
  transform: translate(-50%, -50%);
  background-color: #df5d20;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border: none;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.home-section-content a:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

.home-section .home-section-img {
  width: 500px;
  height: 701px;
  background: url("./images/home-the-witcher.png") no-repeat center;
  background-size: contain;
  mix-blend-mode: hard-light;
}

/* About */
.about-section {
  padding: 35px;
}

.about-section-heading {
  text-align: center;
  font-size: 64px;
  font-weight: 900;
  color: white;
  text-shadow: 2px 2px #df5d20;
  border-bottom: 2px solid #df5d20;
  padding-bottom: 20px;
}

.about-section-header {
  text-align: left;
  padding: 10px 0 30px 0;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #df5d20;
}

.about-section-header-content span {
  font-family: "Roboto Flex", sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: 3px 2px black;
  border-bottom: 1px solid #df5d20;
  padding-bottom: 5px;
}
.about-section-header-content span::after {
  content: "Fire";
  width: 30px;
  height: 30px;
  color: #df5d20;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 900;
}

.about-section-header-content h1 {
  font-family: "Roboto Flex", sans-serif;
  font-size: 64px;
  font-weight: bold;
  margin: 20px 0;
}

.about-section-header-img {
  width: 500px;
  height: 200px;
  background: url("./images/compassfire-game-web-logo2.png") no-repeat center;
  background-size: cover;
}

.about-section-main {
  display: flex;
  flex-direction: column;
}

.about-section-main-p {
  text-align: center;
  padding: 50px 200px;
  font-size: 20px;
  font-family: "Abel", sans-serif;
}

.about-section-main-img {
  width: 500px;
  height: 300px;
  background: url("./images/about-page-img.png") no-repeat center;
  background-size: contain;
  margin: 25px auto;
}

.about-section-main-items {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 50px 0;
}

.about-section-main-items-info {
  padding: 25px 0;
  width: 20%;
  transition: all 0.5s ease-in-out 0s;
}

.about-section-main-items-info:hover {
  background-color: #df5d20;
  color: white;
  box-shadow: 0 0 35px #0000008f;
  transition: all 0.5s ease-in-out 0s;
}

.about-section-main-items-info i {
  font-size: 28px;
}

.about-section-main-items-info p {
  font-size: 14px;
  padding: 10px;
}

/* Footer */

.footer-container {
  max-width: 1170px;
  margin: auto;
  padding-bottom: 25px;
}
.footer-container-row {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  background-color: #df5d20;
  color: black;
  padding: 50px 0 10px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #000000;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 700;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #666565;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li {
  display: flex;
}
.footer-col ul li i {
  margin: 0 15px 0 0;
  font-size: 16px;
  color: #000000;
  text-shadow: 1px 1px #666565;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  text-decoration: none;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 300;
  text-shadow: 1.5px 1px rgba(255, 255, 255, 0.2);
  color: rgb(255, 255, 255);
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #000000;
  padding-left: 8px;
  text-shadow: none;
}
.footer-col .social-links {
  display: flex;
}

.footer-col .social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: white;
  background-color: #24262b;
}

.footer-container-row-p {
  color: #ffffff;
  text-align: center;
  margin: 0;
  margin-top: 50px;
}

.footer-p {
  text-align: center;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.footer-p:nth-child(1) {
  padding-top: 10px;
  margin: 20px 0 0 0;
}

.footer-p:nth-child(3) {
  padding-bottom: 10px;
  margin-bottom: 0 0 10px 0;
}

.footer-p a {
  color: #24262b;
  text-decoration: none;
  border-bottom: 1px solid #24262b;
  padding: 0 5px;
}

.footer-p a:hover {
  color: white;
  border-bottom: 1px solid white;
}
