@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

section {
  /* * min-height: 90vh; */
  background-color: #24262b;
  background: radial-gradient(
    circle,
    rgba(134, 134, 134, 1) 0%,
    rgba(90, 91, 93, 1) 50%,
    rgba(36, 38, 43, 1) 100%
  );
  color: white;
}

body {
  height: 100vh;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
}

#root {
  background-color: #df5d20;
}

.about-section,
.gameshelf-section,
.addgame-section,
.addgame-section,
.register-section,
.login-section,
.details-section,
.edit-section,
.favourites-section {
  padding: 35px;
}

.about-section-heading,
.gameshelf-section-heading,
.addgame-section-heading,
.register-section-heading,
.login-section-heading,
.details-section-heading,
.edit-section-heading,
.favourites-section-heading {
  text-align: center;
  font-size: 64px;
  font-weight: 900;
  color: white;
  text-shadow: 3px 2px #df5d20;
  border-bottom: 2px solid #df5d20;
  padding-bottom: 20px;
  margin-top: 0;
}

/* * Header */
header {
  background-color: rgb(0, 0, 0);
  font-family: "Roboto Flex", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

.navbar img {
  width: 250px;
  height: 100%;
}

.navbar-ul {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-ul li:nth-child(6) p {
  margin: 5px 0 0 0;
  font-size: 12px;
}

.navbar-ul li:nth-child(6) a {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.navbar-ul a {
  font-size: 16px;
  text-decoration: none;
  color: white;
  position: relative;
  padding: 5px;
}

.navbar-ul a,
.navbar-ul a:after,
.navbar-ul a:before {
  transition: all 0.5s;
}

.navbar-ul a:hover {
  color: #df5d20;
}

.navbar-ul a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #df5d20;
  height: 1px;
}

.navbar-ul a:hover:after {
  width: 100%;
}

/* * Home */

.home-section {
  display: flex;
  justify-content: center;
  color: white;
  position: relative;
  padding-top: 50px;
}

.home-section-content h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  margin-bottom: 0;
}

.home-section-content h4 {
  color: #df5d20;
  text-transform: uppercase;
  font-style: italic;
  margin-top: 25px;
  text-shadow: 2px 1px rgb(0, 0, 0);
}

.home-section-content a {
  position: absolute;
  top: 60%;
  left: 25%;
  transform: translate(-50%, -50%);
  background-color: #df5d20;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border: none;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.home-section-content a:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

.home-section .home-section-img {
  width: 500px;
  height: 701px;
  background: url("./images/home-the-witcher.png") no-repeat center;
  background-size: contain;
  mix-blend-mode: hard-light;
}

/* * About */

.about-section-header {
  text-align: left;
  padding: 10px 0 30px 0;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #df5d20;
}

.about-section-header-content span {
  font-family: "Roboto Flex", sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: 3px 2px black;
  border-bottom: 1px solid #df5d20;
  padding-bottom: 5px;
}
.about-section-header-content span::after {
  content: "Fire";
  width: 30px;
  height: 30px;
  color: #df5d20;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 900;
}

.about-section-header-content h1 {
  font-family: "Roboto Flex", sans-serif;
  font-size: 64px;
  font-weight: bold;
  margin: 20px 0;
}

.about-section-header-img {
  width: 500px;
  height: 200px;
  background: url("./images/compassfire-game-web-logo2.png") no-repeat center;
  background-size: cover;
}

.about-section-main {
  display: flex;
  flex-direction: column;
}

.about-section-main-p {
  text-align: center;
  padding: 50px 200px;
  font-size: 20px;
  font-family: "Abel", sans-serif;
}

.about-section-main-img {
  width: 500px;
  height: 300px;
  background: url("./images/about-page-img.png") no-repeat center;
  background-size: contain;
  margin: 25px auto;
}

.about-section-main-items {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 50px 0;
}

.about-section-main-items-info {
  padding: 25px 0;
  width: 20%;
  transition: all 0.5s ease-in-out 0s;
}

.about-section-main-items-info:hover {
  background-color: #df5d20;
  color: white;
  box-shadow: 0 0 35px #0000008f;
  transition: all 0.5s ease-in-out 0s;
}

.about-section-main-items-info i {
  font-size: 28px;
}

.about-section-main-items-info p {
  font-size: 14px;
  padding: 10px;
}

/* * GameShelf */

.gameshelf-section-heading,
.gameshelf-section-search {
  text-align: center;
}

.gameshelf-section-heading {
  margin: 0;
}

.gameshelf-section-search {
  margin: 60px 0;
}

.gameshelf-section-search input {
  width: 45%;
  height: 42.5px;
  padding: 0 10px;
  border: none;
  outline: none;
  font-family: "Open Sans", sans-serif;
}

.gameshelf-section-search-btn {
  height: 42px;
  width: 80px;
  border: none;
  background-color: #eb7037;
}

.gameshelf-section-search-btn:hover {
  background-color: #df5d20;
  cursor: pointer;
}
.gameshelf-section-search-btn i {
  font-size: 14px;
}

.gameshelf-section-games {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
}

.gameshelf-section-games-card {
  width: 200px;
  margin: 30px auto 150px auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.gameshelf-section-games-card-img {
  width: 100%;
}

.gameshelf-section-games-card-img img {
  width: 100%;
  height: 100%;
}

.gameshelf-section-games-card-info {
  color: #ffffff;
}

.gameshelf-section-games-card-info h1 {
  text-shadow: 1px 5px 4px #0000009c;
}

.gameshelf-section-games-card-info-container {
  width: 100%;
  display: flex;
}

.gameshelf-section-games-card-info button {
  position: absolute;
  bottom: -15%;
  left: 25%;
  transform: translate(-50%, -50%);
  background-color: #df5d20;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border: none;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.gameshelf-section-games-card-info-container button {
  position: absolute;
  bottom: -15.3%;
  left: 75.5%;
  transform: translate(-50%, -50%);
  background-color: #df5d20;
  padding: 9px 15px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border: none;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.gameshelf-section-games-card-info button:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
  cursor: pointer;
}

.gameshelf-section-games-card-info-container button:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
  cursor: pointer;
}

.gameshelf-section-games-card-info-container i {
  width: 20px;
  height: 20px;
}

.gameshelf-section-games-empty {
  text-align: center;
  font-size: 36px;
  text-shadow: 1px 1px black;
}

/* * AddGame */
.addgame-section-heading {
  margin-bottom: 20px;
}
.addgame-section-container {
  max-width: 50vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.addgame-section-container-img {
  background: url("./images/playstation-addgame.png") no-repeat center;
  background-size: contain;
  width: 35%;
}

.addgame-section-container-form {
  width: 55%;
}

.addgame-section-container-form div,
.edit-section-container-form div {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.addgame-section-container-form div label,
.edit-section-container-form div label {
  margin-bottom: 10px;
  font-size: 18px;
}

.addgame-section-container-form div input,
.edit-section-container-form div input {
  height: 35px;
  padding-left: 10px;
  font-family: "Open Sans", sans-serif;
}

.addgame-section-container-form div textarea,
.edit-section-container-form div textarea {
  padding: 10px;
  font-family: "Open Sans", sans-serif;
}

.addgame-section-container-form-btn,
.edit-section-container-form-btn {
  position: relative;
  left: 40%;
  margin: 25px 0;
  background-color: #df5d20;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border: none;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.addgame-section-container-form-btn:hover,
.edit-section-container-form-btn:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
  cursor: pointer;
}

/* * GameDetails */
/*! TODO*/

.details-section-container {
  display: flex;
  justify-content: center;
  /* max-width: 100vw; */
}

.details-section-container-img {
  width: 50%;
}

.details-section-container-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.details-section-container-info {
  margin-left: 35px;
  width: 100%;
}

.details-section-container-info-title {
  color: #df5d20;
  text-shadow: 1px 1px black;
  font-size: 32px;
  margin: 0;
}

.details-section-container-category {
  text-shadow: 1px 5px 4px #0000009c;
}

.details-section-container-info-summary {
  text-align: left;
  width: 65%;
  text-shadow: 1px 1px black;
}

.details-section-container-info-heading {
  margin-bottom: 10px;
}

.details-section-container-info-btn {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 40px auto;
}

.details-section-container-info-btn-edit,
.details-section-container-info-btn-delete,
.details-create-comment-form-submit {
  background-color: #df5d20;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border: none;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.details-section-container-info-btn-edit:hover,
.details-section-container-info-btn-delete:hover,
.details-create-comment-form-submit:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
  cursor: pointer;
}

.details-comments h2,
.details-section-container-info-heading {
  text-shadow: 1px 1px black;
  border-bottom: 2px solid #df5d20;
  padding-bottom: 5px;
}

.details-comments ul {
  width: 65%;
  border: 5px solid transparent;
  padding: 15px;
  margin: 0 0 40px 0;
  color: rgb(255, 255, 255);
}

.details-comments ul li {
  margin-bottom: 20px;
  background-color: #df5d20;
  box-shadow: 6px 8px 5px gray;
  border-radius: 8px;
  border: 1px solid rgb(255, 255, 255);
}

.details-comments ul p {
  padding: 5px 10px;
  text-shadow: 1px 1px black;
}

.details-comments ul p i {
  font-size: 16px;
  margin: 5px;
}

.details-create-comment {
  margin: 50px auto;
  width: 50%;
}

.details-create-comment h2 {
  color: #ffffff;
  text-shadow: 1px 1px black;
}

.details-create-comment-form {
  display: flex;
  flex-direction: column;
  border: 5px solid #df5d20;
  padding: 15px;
}

.details-create-comment-form textarea {
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  border: none;
  margin-bottom: 20px;
}

/* * Edit */
.edit-section-container {
  display: flex;
  justify-content: center;
}

.edit-section-container-img {
  width: 600px;
  height: 500px;
  background: url("./images/edit-img.png") no-repeat center;
  background-size: contain;
}

/* * Login */
.login-section-container {
  display: flex;
  justify-content: center;
  margin: 65px 0;
}

.login-section-container-div {
  width: 20%;
}

.login-section-container-img {
  background: url("./images/login-img.png") no-repeat center;
  background-size: contain;
  width: 400px;
  height: 400px;
}

.login-section-container-div-form {
  width: 100%;
}

.login-section-container-div-form h2 {
  color: #df5d20;
  text-align: center;
  text-shadow: 1px 1px black;
}

.login-section-container-div-form p {
  text-shadow: 1px 1px black;
  text-align: center;
}

.login-section-container-div-form p a {
  color: #df5d20;
  text-decoration: none;
}

.login-section-container-div-form p a:hover {
  color: rgb(125, 33, 0);
  text-decoration: underline;
}

.login-section-container-div-form-input input {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  padding: 10px;
  margin-bottom: 20px;
}

.login-section-container-div-form-btn {
  position: relative;
  left: 34%;
}

/* * Register */
.register-section-container {
  display: flex;
  justify-content: center;
  margin: 90px;
}
.register-section-container-img {
  background: url("./images/league-of-legends-register.png") no-repeat center;
  background-size: contain;
  width: 50%;
  height: 300px;
}

.register-section-container-div {
  width: 50%;
}

.register-section-container-div h2 {
  color: #df5d20;
  text-shadow: 1px 1px black;
  position: relative;
  left: 11%;
}

.register-section-container-div p {
  text-shadow: 1px 1px black;
  margin-bottom: 25px;
}

.register-section-container-div p a {
  color: #df5d20;
  text-decoration: none;
}

.register-section-container-div p a:hover {
  color: rgb(125, 33, 0);
  text-decoration: underline;
}

.register-section-container-div-form-input input {
  width: 40%;
  font-family: "Open Sans", sans-serif;
  padding: 10px;
  margin-bottom: 20px;
}

.register-section-container-div-form-btn {
  position: relative;
  left: 14%;
}

.register-section-container-div-form-btn,
.login-section-container-div-form-btn {
  margin: 25px 0;
  background-color: #df5d20;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border: none;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.register-section-container-div-form-btn:hover,
.login-section-container-div-form-btn:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
  cursor: pointer;
}

/* * Footer */

.footer-container {
  max-width: 1170px;
  margin: auto;
  padding-bottom: 25px;
}
.footer-container-row {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  background-color: #df5d20;
  color: black;
  padding: 50px 0 10px 0;
  position: relative;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #000000;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 700;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #666565;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li {
  display: flex;
}
.footer-col ul li i {
  margin: 0 15px 0 0;
  font-size: 16px;
  color: #000000;
  text-shadow: 1px 1px #666565;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  text-decoration: none;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 300;
  text-shadow: 1.5px 1px rgba(255, 255, 255, 0.2);
  color: rgb(255, 255, 255);
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #000000;
  padding-left: 8px;
  text-shadow: none;
}
.footer-col .social-links {
  display: flex;
}

.footer-col .social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: white;
  background-color: #24262b;
}

.footer-container-row-p {
  color: #ffffff;
  text-align: center;
  margin: 0;
  margin-top: 50px;
}

.footer-p {
  text-align: center;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.footer-p:nth-child(1) {
  padding-top: 10px;
  margin: 20px 0 0 0;
}

.footer-p:nth-child(3) {
  padding-bottom: 10px;
  margin-bottom: 0 0 10px 0;
}

.footer-img-logo {
  width: 300px;
  position: absolute;
  top: 30%;
  left: 80%;
  transform: translate(-50%, -50%);
  border: 10px solid orange;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
}

.footer-img-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}

.footer-p a {
  color: #24262b;
  text-decoration: none;
  border-bottom: 1px solid #24262b;
  padding: 0 5px;
}

.footer-p a:hover {
  color: white;
  border-bottom: 1px solid white;
}
